name: aws-tf-module

on:
  push:
    branches: [ "main" ]

permissions:
  contents: write
  pull-requests: write

jobs:
  tf-module:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          config-file: .github/.tf-module-config.json
          manifest-file: .github/.tf-module-manifest.json
          token: ${{ secrets.CICD_PAT }}
